html {
  height: 100%;
}

body {
  margin: 0;
  /*  font-family: "Plus Jakarta Sans", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  height: 100%;
  background-color: #fbfbf9 !important;
}

#root {
  height: 100%;
}

